/* Skeleton */
.skeleton-container {
  opacity: 1;
}
.skeleton {
  background: linear-gradient(90deg, #ececec 25%, #f3f3f3 37%, #ececec 63%);
  background-size: 400% 100%;
  animation: shimmer-horizontal 1.4s ease-in-out infinite;
}
.skeleton-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  border: 0;
  background: transparent;
}
.skeleton-img {
  width: 100%;
  aspect-ratio: 1/1;
}
.skeleton-text {
  height: 12px;
  margin-top: 8px;
  background: #e0e0e0;
}
.skeleton-text.short {
  width: 40%;
}
.skeleton-text.long {
  width: 100%;
}

/* Animation */
@keyframes shimmer-horizontal {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
