@if (loaded()) {
<div class="d-flex flex-column min-vh-100">
  <app-navbar
    [isSearchOpen]="showSearch()"
    (onSearchToggled)="searchToggled()"
    [isCartOpen]="showCart()"
    (onCartToggled)="cartToggled()"
    (onScrollAction)="closeChildren()"
  />
  <app-search
    [isSearchOpen]="showSearch()"
    (onCloseSearch)="closeSearch()"
    (onSearchQuery)="handleSearch($event)"
  />
  <app-cart-drawer (onCloseCart)="closeCart()" />
  <main class="flex-grow-1 bg-light">
    <router-outlet (activate)="closeChildren()" />
  </main>
  @if (pageLoaded()) {
  <app-footer />
  }
</div>
}
