/* Navbar links */
.nav-link {
  margin-right: 0.5rem;
}
/* Search button override */
.navbar .btn-outline-light {
  border: none;
  color: #fff;
}
.navbar .btn-outline-light:hover {
  background-color: transparent;
  color: #fff;
}
