/* Navbar links */
.nav-link {
  margin-right: 0.5rem;
  cursor: pointer;
}
/* Navbar when collapsed */
.navbar .container-fluid {
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar-nav .nav-item {
  margin-bottom: 0;
}
