<nav class="navbar navbar-dark bg-dark fixed-top">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <!-- Left menu -->
    <ul class="navbar-nav d-flex flex-row align-items-center mb-0">
      <li class="nav-item me-3">
        <a class="nav-link" (click)="scrollToHome()" title="Home">
          <i class="bi bi-shop"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scrollToFooter()" title="Contact">
          <i class="bi bi-telephone-fill"></i>
        </a>
      </li>
    </ul>
    <!-- Brand in center -->
    <a class="navbar-brand mx-auto" routerLink="/">FAKE STORE</a>
    <!-- Right icons -->
    <ul class="navbar-nav d-flex flex-row align-items-center mb-0">
      <!-- Search -->
      <li class="nav-item me-3">
        <a class="nav-link" (click)="onSearchToggled.emit()" title="Search">
          <i
            class="bi"
            [ngClass]="isSearchOpen() ? 'bi-x-lg' : 'bi-search'"
          ></i>
        </a>
      </li>
      <!-- Cart -->
      <li class="nav-item me-3">
        <a class="nav-link" (click)="onCartToggled.emit()" title="Cart">
          <i class="bi" [ngClass]="isCartOpen() ? 'bi-x-lg' : 'bi-cart'"></i>
        </a>
      </li>
      <!-- Sign in and out -->
      <li class="nav-item">
        @if(!isAuthenticated()) {
        <a
          class="nav-link"
          routerLink="/signin"
          routerLinkActive="active"
          title="Sign in"
        >
          <i class="bi bi-person-fill"></i>
        </a>
        } @else {
        <a class="nav-link" (click)="onSignOut()" title="Sign out">
          <i class="bi bi-person-fill-slash"></i>
        </a>
        }
      </li>
    </ul>
  </div>
</nav>
