<!-- Skeleton placeholders -->
@if (loading()) {
<div class="container-fluid flex-grow-1 d-flex flex-column py-4">
  <app-skeleton [count]="filteredProducts().length" />
</div>
} @else {
<div class="container-fluid flex-grow-1 d-flex flex-column py-4">
  <!-- Error -->
  @if (error()) {
  <div class="shop-error">
    {{ error() }}
  </div>
  } @else {
  <div class="row g-4 flex-grow-1">
    @for (product of filteredProducts(); track product.id) {
    <div class="col-6 col-md-4 col-lg-3">
      <div class="card product-card h-100">
        <div class="product-img-wrapper">
          <img
            [appLazyLoading]="product.image"
            class="product-img"
            alt="{{ product.title }}"
          />
          <button
            type="button"
            class="fab-button"
            title="Add to cart"
            (click)="addToCart(product)"
          >
            <i class="fab-icon bi bi-plus fs-3"></i>
          </button>
        </div>
        <div
          class="card-body d-flex flex-column justify-content-center align-items-center"
        >
          <h6 class="product-title">{{ product.title | uppercase }}</h6>
          <span class="product-price">{{ product.price | currency }}</span>
        </div>
      </div>
    </div>
    }
  </div>
  }
</div>
}
